/*
=============== 
Variables
===============
*/
:root {
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --clr-ui-grey: #f2f2fa;
  --clr-ui-dark-blue: #20225e;
}
/*
  =============== 
  Global Styles
  ===============
  */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-ui-grey);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*
  =============== 
  Navbar
  ===============
  */
.navbar {
  height: 5rem;
  width: 100vw;
  background: var(--clr-black);
  border-bottom: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
}
/*
  =============== 
  App
  ===============
  */
.form-body {
  position: relative;
  width: 90vw;
  max-width: 625px;
  background: var(--clr-white);
  border-radius: var(--radius);
  /* margin: 6rem auto; */
  margin: 3rem auto;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}
/*
  =============== 
Title
  ===============
  */

.form-body__title {
  color: var(--clr-white);
  height: 100px;
  background: var(--clr-ui-dark-blue);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/*
  =============== 
  Form
  ===============
  */
form {
  max-width: 391px;
  margin: 0 auto;
  padding: 4rem 0;
}

.form-body__input {
  display: block;
}
.form-body__input:focus {
  outline: none;
}

.form-body__input--mobile {
  display: none;
}

.form-body__input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #d3d5f1;
  padding: 0.75rem 0.5rem;
  color: #151749;
  text-align: center;
}

/*
  =============== 
  Successful & Error MSG
  ===============
  */
.form__message-container {
  text-align: center;
  width: 100%;
  height: 2rem;
}
.render__error-msg {
  color: var(--clr-red-light);
  letter-spacing: var(--spacing);
}
.render__successful-msg {
  color: var(--clr-green-dark);
  letter-spacing: var(--spacing);
}
.field {
  margin-top: 2rem;
}

.field__terms-services {
  height: 10rem;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.75rem 0.5rem;
  background-color: var(--clr-grey-9);
  margin-bottom: 0;
}
fieldset {
  border: 2px solid #d3d5f1;
}

.field__terms-services--label {
  width: 95%;
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

.submit-btn {
  width: 247px;
  height: 77px;
  margin: 0 auto;
  display: block;
  border-radius: 38.5px;
  border-color: transparent;
  color: var(--clr-white);
  text-transform: capitalize;
  background: var(--clr-ui-dark-blue);
  box-shadow: var(--dark-shadow);
  font-size: 18px;
  letter-spacing: var(--spacing);
  margin-top: 4rem;
  cursor: pointer;
}
/*
  =============== 
Animation nav
  ===============
  */
.navbar__switch-field {
  display: flex;
  overflow: hidden;
}

.navbar__switch-field input {
  clip: rect(0, 0, 0, 0);
  border: 0;
  overflow: hidden;
  display: none;
}

.navbar__switch-field label {
  color: var(--clr-white);
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  border: 1px solid #fff;
  transition: var(--transition);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  width: 15rem;
}

.navbar__switch-field label:hover {
  cursor: pointer;
}

.navbar__switch-field input:checked + label {
  background-color: var(--clr-ui-dark-blue);
  box-shadow: none;
}

.navbar__switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.navbar__switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
/*
  =============== 
Animation spin & blur
  ===============
  */
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.form__blur {
  position: absolute;
  width: 100%;
  height: 80vh;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.form__blur--hidden {
  display: none;
}
.form__spinner {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: var(--btnColor);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 10vh;
  left: 30vh;
}
.form__spinner--hidden {
  display: none;
}
